[submodule "Vendor/Model/AFNetworking"]
	path = Vendor/Model/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/Model/MagicalRecord"]
	path = Vendor/Model/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/Frameworks/PonyDebugger"]
	path = Vendor/Frameworks/PonyDebugger
	url = git://github.com/square/PonyDebugger.git
[submodule "Vendor/Model/KVOBlockBinding"]
	path = Vendor/Model/KVOBlockBinding
	url = git://github.com/rayh/kvo-block-binding.git
